/*

!composer.json

!/wp-content
/wp-content/*

!/wp-content/themes
/wp-content-themes/*

!/wp-content/themes/FoundationPress

/wp-content/themes/FoundationPress/bower_components
/wp-content/themes/FoundationPress/node_modules

!.gitignore
!composer.json
!composer.lock


!wp-content/themes/FoundationPress/

!/wp-content/plugins
/wp-content/plugins/*
!wp-content/plugins/gravityforms
